@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .6rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 3.5rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.5rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
}
.cabecalho{
    background: #0e0e0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
}
.cabecalho .imagem img{
    width: 10rem;
}
.cabecalho .nav-bar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}
.cabecalho .nav-bar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.cabecalho .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
.cabecalho .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/centro.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.home .conteudo{
    max-width: 60rem;
    margin-left: 2rem;
}
.home .conteudo h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}
.home .conteudo p{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--main-color);
}
.sobre .linha{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}
.sobre .linha .imagem{
    flex: 1 1 45rem;
}
.sobre .linha .imagem img{
    width: 100%;
    padding: 1rem;
}
.sobre .linha .conteudo{
    flex: 1 1 45rem;
    padding: 2rem;
}
.sobre .linha .conteudo h3{
    font-size: 3rem;
    color: #ccc;
}
.sobre .linha .conteudo p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.ministerio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}
.ministerio .box-container .box{
    padding: 3rem;
    text-align: center;
    border: var(--border);
}
.ministerio .box-container .box img{
    height: 20rem;
}
.ministerio .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}
.ministerio .box-container .box:hover{
    background: rgb(34, 34, 34);
}
.ministerio .box-container .box:hover > *{
    color: var(--bg);
}
.eventos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}
.eventos .box-container .box{
    padding: 3rem;
    text-align: center;
    border: var(--border);
}
.eventos .box-container .box img{
    height: 20rem;
}
.eventos .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}














@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .cabecalho{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }

}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .cabecalho .nav-bar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .cabecalho .nav-bar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .cabecalho .nav-bar.active{
        right: 0;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .conteudo h3{
        font-size: 4.5rem;
    }
    .home .conteudo p{
        font-size: 1.5rem;
        color: var(--main-color);
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}